.logo{
    font-family: Poppins !important;
    font-style: italic !important;
    font-weight: bold !important;
    font-size: 35px !important;
    top: 50px !important;
    left: 50px !important;
    color: #287a68 !important;
    letter-spacing: -2px;
}
#profile-image{
    border-radius: 50% !important;
    margin: 0px !important; 
    width: 2.5rem;
    height: 2.5rem;
}